
*{
    margin: 0;
 }
header nav ul li 
   {
list-style: none;
padding: 200px;
   }
header nav ul li 
     {
     color: #eeeeee;
    text-decoration: none;
      }
#Home{
    color: rgb(10, 10, 10);
    text-decoration: none;
 
  }

  

